/* global css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;

}

hr{
    width: 70px;
    height: 2px;
    background-color: orangered;
}
.star{
    padding: 10px 0;
}
.star i{
    font-size: 22px;
    color: goldenrod;
    margin-top: 22px;

}

h2 {
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 20px;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h5 {
    font-size: 1.1rem;
    font-weight: 600;

}

h4 {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin-top: 17px;
}

h6 {
    color: aliceblue;
}

button {
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 33px;

}

button:hover {
    background-color: rgb(60, 60, 233);
}

/* for my logo  */
.logo {
    /* margin-left: 90px; */
    width: 150px;
    height: 50px;


}

.navbar {
    font-size: 17px;
    top: 0;
    left: 0;

}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: all 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(55, 55, 252);
}


.navbar i {
    font-size: 1.3rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.4s ease;
}

.navbar i:hover {
    color: rgb(55, 55, 252);

}

#Home span {
    color: blue;
}

#Home {
    background-image: url(img/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 80px center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.center-text h2 {
    color: #000;
    font-size: 29px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 35px;
}

.tranding-product {
    /* margin: 450px 0px; */
    /* width: 80%; */
    /* padding: 160px; */
}

.center-text span {
    color: red;

}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row1 {
    position: relative;
    transition: all .5s ease;
    /* width: 70%; */
}

.row1 img {
    width: 100%;
    height: auto;
    transition: all .40s ease;
    padding: 0 30px;
}

.row1 img:hover {
    transform: scale(1.1);
}

.product-text h5 {
    position: absolute;
    top: 13px;
    left: 29px;
    color: #fff;
    font-size: 17px;
    font-weight: 600px;
    text-transform: uppercase;
    background-color: rgb(171, 12, 12);
    padding: 3px 13px;
    border-radius: 2px solid;
    /* color: #000; */

}

.heart-icon {
    position: absolute;
    right: 0;
    top: 67%;
    margin-right: 33px;
    font-size: 20px;
    margin-top: 49px;
}

.heart-icon:hover {
    color: red;
    /* background-color: red; */
}

.ratting {
    margin-left: 48px;
    left: 23%;
}

.ratting i {
    color: rgb(14, 120, 40);
    font-size: 22px;
    margin-top: 37px;


}

.price p {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
    font-family: 'IBM Plex Mono', monospace;
}

.tranding-product {
    /* background: radial-gradient(rgb(189, 185, 185),white); */
}


/* new brand css */
#new .one img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#new .one .details {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

#new .one:hover .details {
    background-color: rgba(250, 180, 218, 0.7);
}

#new .one .details button {
    display: inline-block;
    font-size: 16px;
    font-weight: 600px;
    color: #000;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(80, 77, 77);
    transform: translateY(70px);
    transition: all 0.4s ease;


}

#new .one .details button:hover {
    color: #fff;
    border-bottom: rgb(0, 0, 0);
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* featured Products css */
.product {
    cursor: pointer;
}

.product img {
    transition: all 0.5s ease;

}

.product img:hover {
    opacity: 0.7;
}

.product .buy-btn {
    background-color: rgb(241, 97, 30);
    transform: translateY(20px);
    transition: 0.4s ease;
    opacity: 0;
    
}

.product:hover .buy-btn {
    background-color: rgb(241, 97, 30);
    /* transform: translateY(20px); */
    
    opacity: 1;

}


/* baner css */
#banner {
    background-image: url(img/banner/parallax.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position:top 230px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
}
#banner h4{
    color:orangered;
    font-weight: 600;
    font-size: 27px;
}
#banner h1{
    color: black;
}
#banner button{
    background-color: orangered;
    transition:all 0.4s ease;
}
#banner button:hover{
        background-color: #fff;
        color: black;

}

footer{
    background-color:#000000;
}
footer h5{
    color: white;
    font-weight: 700;
    font-size: 26px;

}
footer li{
    padding-bottom: 6px;
}
footer li a{
        font-size: 18px;
        color: rgb(196, 192, 192);
}
footer li a:hover{
    
        color: rgb(246, 155, 155);
}
footer p{
    color: rgb(136, 133, 133);
    font-size: 18px;
    
}
footer .copyright a{
    color: black;
    width: 40px;
    height:38px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 25px;
    transition: all .3s ease;
    float: right;
    margin: 0 8px;
    
    
}
footer .copyright a:hover{
    color: #fff;
    background-color: orangered;
}




